#Example for the environment variables required in the project.

#Must start with jdbc:postgresql:// not just postgresql://
DB_URL=jdbc:postgresql://hostname/dbname?sslmode=require&channelBinding=require
DB_USERNAME=username
DB_PASSWORD=pass@123